<!DOCTYPE html>
<html lang="ru">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet" />
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <meta charset="UTF-8">
        <title>Профиль</title>
    </head>
    <body>
        <div class="v21_3">
            <div class="v3_24"></div>
            <div class="v3_27">
                <div class="v3_28"></div>
                <a href="{% url 'profile' %}" class="v3_121">Мой профиль</a>
                <span class="v3_29">ReviewStat</span>
                <a href="{% url 'logout' %}" class="v3_30">Выйти</a>
                <div class="v3_31"></div>
                <a href="{% url 'main' %}" class="v3_116">Главная страница</a>
                <div class="v3_118"></div>
                <div class="v3_120"></div>
            </div>
            <div class="v3_72">
                <div class="v3_73"></div>
                <span class="v3_74">Политика конфинденциальности</span><span class="v3_75">Задать вопрос</span>
                <div class="v3_76"></div>
                <div class="v3_77"></div>
            </div>
            <div class="v3_83">
                <div class="v3_84"></div>
                <span class="v3_114">{{user.email}}</span>
                <span class="v3_115">{{profile.name_company}}</span>
                <span class="v3_88">Профиль</span>
                <div class="v3_89">
                    <span class="v3_91">Электронная почта</span></div>
                <div class="v3_92">
                    <div class="v3_93"></div>
                    <a href="{% url 'delete_profile' %}" class="v3_94">Удалить профиль</a>
                </div>
                <div class="v3_98"><span class="v3_100">Название компании</span></div>
            </div>
        </div>
    </body>
</html>